.caja{
    background-color: beige;
    width: 300px;
    height: 200px;
    margin: 20px;
    box-shadow: 9px 5px 10px black;
    border: 2px white;
    /*eje x, eje y, desenfoque, color*/
    
}
.caja2{
    width: 300px;
    height: 200px;
    border: 3px solid blue;
    padding: 5px;
    border-radius: 15px;
    border-radius: 0 30px;
}
.texto{
    background-color: yellow;
    column-count: 3;
}
.texto p{
    margin: 0;
}