.contenedor{
    background-color: rgb(158, 160, 161);
    width: 60%;
    margin: 0% auto;
    height: 600px;
}
.verde{
    background-color: green;
    width: 90%;
    height: 150px;
    margin: 0% auto 20px;
    position: absolute;
    top: 0%;
    left: 0%;
 
}
.celeste{
    background-color: lightblue;
    width: 90%;
    height: 150px;
    margin: 0% auto 20px;
}
.amarillo{
    background-color: yellow;
    width: 90%;
    height: 150px;
    margin: 0% auto 20px;
}