body{
  margin: 0;
  padding: 0;
}
header{
  background-color: #1e70da;
  color: white;
  padding: 20px 0;
}
header h1{
  margin: 0;
}

nav{
  background-color: #2aafcc;
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  flex-grow: 1;
}
nav ul li a{
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
}
.galeria{
  max-width: 960px;
  margin: 0 auto 30px;
}